@{
    ViewData["Title"] = "Email Changed Confirmation";
}

<div class="confirmation-page">
    <div class="lead">
        <h1>Email Changed Successfully!</h1>
    </div>

    <div class="row">
        <div class="col">
            <p>Your email has been successfully changed.</p>
            <a class="btn btn-primary" href="http://localhost:4200/profile">Go to Profile</a>
        </div>
    </div>
</div>